<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    @Styles.Render("~/Content/NotFound.css")
   


</head>
<body>
    @{
        ViewBag.Title = "NotFound";
        
    }

    <div class="page-404">
        <p class="text-404">404</p>

        <h2>Error Occured !</h2>
        <p>
            Something went wrong or that page doesn’t exist yet. <br>
        </p>
    </div>

</body>
</html>>


